<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Playlist</title>
</head>
<body>
    <header>
        <h1>Music Player</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/music/trending">Trending</a>
        <a href="/music/new_release">New Release</a>
        <a href="/music/playlist">Playlists</a>
        <a href="/music/artist">Artist</a>
    </nav>
</body>
</html>